!!!
html(lang="en")
  head
    meta(charset="utf-8")
    title Portfolio
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon', type='image/png', href="/images/favicon.png")
  body
    section
      .profile
        header
          h1
            | {&nbsp;
            span.name
              | name:&nbsp;
              em pierre&nbsp;
            span.surname
              | surname:&nbsp;
              em jambet
            | }
        ul
          li
            a(href="https://github.com/pjambet", target="_blank") code
          li
            a(href="http://www.linkedin.com/profile/view?id=156041350&trk=tab_pro", target="_blank") profile
          li
            a(href="/blog") blog
          li
            a(href="#") photos
    footer
