doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    title(lang="fr") Pierre Jambet's Portfolio
    title(lang="en") Pierre Jambet's Portfolio
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/styles/portfolio.css')
    link(rel='shortcut icon', type='image/png', href="/images/favicon.png")
    link(href='http://fonts.googleapis.com/css?family=Vollkorn', rel='stylesheet', type='text/css')
    script(src='/javascripts/zepto.min.js', type='text/javascript')
    script(src='/javascripts/underscore-min.js', type='text/javascript')
    script(src='/javascripts/json2.js', type='text/javascript')
    script(src='/javascripts/backbone-min.js', type='text/javascript')
    script(src='/javascripts/client.js', type='text/javascript')
  body
    section
      .profile
        header
          h1
            span.name
              | name:&nbsp;
              em pierre,&nbsp;
              .image-wrapper.baby
                img(src="/images/baby.jpg")
            span.surname
              | surname:&nbsp;
              em jambet
              .image-wrapper.grown-up
                img(src="/images/grown-up.png")
        ul
          li
            a(href="https://github.com/pjambet", target="_blank") code,
          li
            a(href="http://www.linkedin.com/pub/pierre-jambet/44/311/85a", target="_blank") profile,
          li
            a(href="https://twitter.com/pierre_jambet", target="_blank") twitter

    section
      block content
    footer
