body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Définition des polices personnalisées */

@font-face
{
    font-family: 'BallparkWeiner';
    src: url('/fonts/ballpark.eot');
    src: url('/fonts/ballpark.eot?#iefix') format('embedded-opentype'),
         url('/fonts/ballpark.woff') format('woff'),
         url('/fonts/ballpark.ttf') format('truetype'),
         url('/fonts/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('/fonts/dayrom.eot');
    src: url('/fonts/dayrom.eot?#iefix') format('embedded-opentype'),
         url('/fonts/dayrom.woff') format('woff'),
         url('/fonts/dayrom.ttf') format('truetype'),
         url('/fonts/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Eléments principaux de la page */

body
{
    background: url('/images/back_yellow.png') repeat;
    background: url('/images/star wars copie.png') no-repeat 450px -250px, url('/images/back_yellow.png') repeat;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}

#main_wrapper
{
    width: 900px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 2px 5px #1c1a19;
}

section h1, footer h1, nav a
{
    font-family: Dayrom, serif;
    font-weight: normal;
    text-transform: uppercase;
}

/* Header */

header
{
    background: url('/images/separator.png') repeat-x bottom;
}

#main_title
{
    display: inline-block;
}

#main_title:hover
{
    opacity: 0.8;
}

#main_title:active
{
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -o-transform: scale(1.03);
    transform: scale(1.03);
}

header h1
{
    font-family: 'ubuntu', 'BallparkWeiner', serif;
    font-size: 2.5em;
    font-weight: normal;
}

#logo, header h1
{
    display: inline-block;
    margin-bottom: 0px;
}

header h2
{
    font-family: Dayrom, serif;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}

/* Navigation */

nav
{
    display: inline-block;
    width: 740px;
    text-align: left;
}


nav ul
{
    list-style-type: none;
}

nav li
{
    display: inline-block;
    margin-right: 15px;
}

nav li:active
{
    -webkit-transform: translate(2px, 2px);
    -moz-transform: translate(2px, 2px);
    -o-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding: 5px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
    background-color: rgba(207, 198, 161, 0.6 );
    border-radius: 4px;
    text-shadow: 1px 1px 1px #fff;
}

/* Bannière */

#banner_image
{
    margin-top: 15px;
    height: 200px;
    border-radius: 5px;
    background: url('/images/banner.png') no-repeat;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 25px;
}

#banner_desc
{
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    width: 99.5%;
    height: 33px;
    padding-top: 15px;
    padding-left: 4px;
    background-color: rgb(24,24,24); /* Pour les anciens navigateurs */
    background-color: rgba(24,24,24,0.8);
    color: white;
    font-size: 0.8em;
}

#banner_desc:hover
{
    opacity: 0.8;
    display: block;
}

.red_button
{
    display: inline-block;
    height: 25px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    background: url('/images/back_redgradient.png') repeat-x;
    border: 1px solid #760001;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    padding: 3px 8px 0px 8px;
    color: white;
    text-decoration: none;
}

.red_button img
{
    border: 0;
}

.red_button_arrow
{
    padding-left: 4px;
}

.red_button:hover
{
    opacity: 0.5;
}

/* Corps */

article, aside
{
    display: inline-block;
    vertical-align: top;
    text-align: justify;
}

article
{
    width: 625px;
    margin-left: 15px;
}

.ico_category
{
    vertical-align: middle;
    margin-right: 8px;
}

.ico_category:hover
{
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

.ico_category:active
{
    -webkit-transform: translate(10px, -10px);
    -moz-transform: translate(10px, 10px);
    -o-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
}

article p
{
    font-size: 0.8em;
}

aside
{
    position: relative;
    width: 235px;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 0.9em;
    font-family: 'ubuntu';
}


#arrow_bubble
{
    position: absolute;
    top: 100px;
    right: -16px;
}

#photo_profile
{
    text-align: center;
}

#photo_profile img
{
    border: 1px solid #181818;
}

aside img
{
    margin-right: 5px;
}

/* Footer */

footer
{
    background:  url('/images/ico_top.png') no-repeat top center, url('/images/separator.png') repeat-x top, url('/images/shadow.png') repeat-x top;
    padding-top: 25px;
}

footer p, footer ul
{
    font-size: 0.8em;
}

footer h1
{
    font-size: 1.1em;
}

#tweet, #my_photos, #my_friends
{
    display: inline-block;
    vertical-align: top;
}

#tweet
{
    width: 28%;
}

#my_photos
{
    width: 35%;
}

#my_photos img:hover
{
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
}

#my_friends
{
    width: 31%;
}

#my_photos img
{
    border: 1px solid #181818;
    margin-right: 2px;
}

#my_friends ul
{
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    width: 48%;
    list-style-image: url('/images/ico_extlink.png');
    padding-left: 2px;
}

#my_friends a
{
    text-decoration: none;
    color: #760001;
}


/* Correctifs pour les vieilles versions d'Internet Explorer */

/* Pour activer un positionnement type inline-block sur les vieilles versions d'IE */

.old_ie #main_title, .old_ie #logo, .old_ie header h1, .old_ie nav, .old_ie nav li, .old_ie .red_button, .old_ie article, .old_ie aside, .old_ie #tweet, .old_ie #my_photos, .old_ie #my_friends, .old_ie #my_friends ul
{
    display: inline;
    zoom: 1;
}

/* Quelques ajustements pour les vieilles versions d'IE */

.old_ie section h1, .ie8 section h1
{
    font-size: 1.1em;
}

.old_ie footer div, .ie8 footer div
{
    margin-top: 30px;
    background: url('/images/separator.png') repeat-x top;
}

div.comment
{
    margin: 10px;
    padding: 10px;
    border: 1px groove threedface;
    box-shadow: 0px 2px 5px #1c1a19;
}

div.post
{
    box-shadow: 0px 2px 5px #1c1a19;
    padding: 10px 10px 5px 10px;
    margin-bottom: 0px;
    border-radius: 3px;
}

p.comments_counter
{
    margin-top:4px;
}

div.post:hover
{
    background-color: #9F9B8B;
    color: black;
    opacity: 0.8;
}

a.no_link:link, a.no_link:visited, a.no_link:hover, a.no_link:active
{
    text-decoration: none;
    color: black;
}

p.author, p.created_at
{
    font-style: italic;
    font-size: 0.8em;
}

.api_link
{
    margin: 0;
    width: 36px;
}

.api_link:hover
{
    opacity: 0.7;
}

.api_link:active
{
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}

div#twitter_update_list
{
    font-size: 0.8em;
    border: solid;
    border-width: 1px;
    padding: 5px;
    margin: 0 10px 10px 0;
    opacity: 0.7;
    border-radius: 3px 3px 3px 3px;
    background-color: #F7F0CB;
    border-color: #C3AFA0;
}

div#twitter_update_list:hover
{
    opacity: 1;
    color: black;
}

div#twitter_update_list li
{
    list-style-type: none;
}

div#twitter_update_list span
{

}

#twitter_update_list span a
{
    display: inline;
    color: #000000;
}

#twitter_update_list span a:hover
{
    text-decoration: underline;
    color: #666666;
}

div#tweet h1
{
    display: inline-block;
}

div#tweet img
{
    margin: 0 0 0 15px;
}

div#my_photos h1
{
    display: inline-block;
}

div#my_photos h1+img
{
    border: none;
    margin: 0 0 0 15px;
}

div#places_lived_map
{
    text-align: center;
}

div#places_lived label
{
    text-align: left;
}

div#places_lived img
{
    border: 1px solid #181818;
}

/* Fixed menu on the left */



#menu
{
    position: fixed;
    left: -160px;
    top: 50%;
    width: 8em;
    margin: -2.5em 0 0 20px;
    z-index: 5;
    background: hsla(55, 90%, 92%, 0.7);
    background: url('/images/mail.png') no-repeat right, hsla(55, 90%, 92%, 0.7);
    color: black;
    font-weight: bold;
    font-size: large;
    text-align: left;
    border: solid hsla(54, 9%, 57%, 0.5);
    border-right: none;
    padding: 0.5em 20px 0.5em 1em;
    box-shadow: 0 1px 3px black;
    text-shadow: 2px 2px 1px #fff;
    width: 140px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

#menu:hover
{
    -webkit-transform: translate(135px, 0);
    -moz-transform: translate(135px, 0);
    -o-transform: translate(135px, 0);
    transform: translate(135px, 0);
    background: url('/images/mail.png') no-repeat right, hsla(55, 90%, 92%, 0.9);
    border-radius: 5px;
    border: solid hsla(60, 10%, 20%, 0.8);
    border-right: none;
}

#menu li
{
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

#menu li a
{
    color: inherit;
    text-decoration:none;
    font-weight: normal;
}

#menu a.mailto
{
    font-size: x-small;
}

/* Make menu absolute, not fixed, on IE 5 & 6 */
#menu { position: absolute }
*>#menu { position: fixed }


#places_lived_map, #map_address
{
    width: 235px;
    height: 150px;
    border: 1px solid #181818;
}

#map_canvas
{
    width: 600px;
    height: 480px;
    border: 1px solid #181818;
}

p#address
{
    vertical-align: middle;
}

#map_address
{
    margin: 5px;
}

input:active, textarea:active
{
    background-color:lightgrey;
}

img#profile:hover
{
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
}


