/* --------------------------------------------------------------------
   Reset - modified from http://meyerweb.com/eric/tools/css/reset/
-------------------------------------------------------------------- */

html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, em, img, strong, sup, var, b, u, i, center, ol, ul, li, fieldset, form, label, article, aside, figure, figcaption, footer, header, hgroup,  menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after { content: ''; content: none; }
strong { font-weight: bold; }

/* Site */
body {
  background: url('/images/zep.png') no-repeat right top;
  background-size: 70%;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  color: #181818;
}

header h1{
  font-size: 2.875em;
}

header h1 span em {
  font-family: 'Droid Serif', 'Myriad Pro', 'Georgia', sans-serif;
  color: black;
}

.profile {
  position: relative;
  top: 21em;
  left: 4em;
  width: 86%;
}

header h1 span {
  color: rgb(208,203,191);
}

.profile ul, .profile li {
  display: inline-block;
  padding: 0;
}

.profile li {
  font-size: 30px;
  margin-right: 10px;
}

.profile ul:before {
  content: "[";
  font-size: 30px;
  color: white;
}

.profile ul:after {
  content: "]";
  font-size: 30px;
  color: white;
}

.profile ul:hover:before, .profile ul:hover:after {
  color: black;
}

.profile li:before, .profile li:after {
  content: "\"";
  color: white;
}

.profile li:hover:before, .profile li:hover:after {
  color: red;
}

.profile a{
  text-decoration: none;
  color: black;
}

.profile a:visited{
  text-decoration: none;
  color: black;
}

footer {
  background: url('/images/clouds.png') repeat-x right top;
  background-position: 0 -63px;
  height: 75px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

/* Media queries */

@media screen and (min-width: 1100px) {
  body{
    background-size: 775px;
  }
}

@media screen and (max-width: 781px) {
  .profile {
    top: 20em;
    margin-bottom: 6em;
  }
}

@media screen and (max-width: 720px), only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
  .profile {
    top: 13em;
    margin-bottom: 6em;
  }
  header h1{
    font-size: 4.5em;
  }
  .profile span.name, .profile span.surname {
    display: block;
  }
  .profile ul{
    margin: 10px 0 0 0;
  }
  .profile li {
    display: block;
    font-size: 4em;
  }
}
@media screen and (max-width : 470px) {
  .profile {
    top: 13em;
  }
}
}

