@import "/styles/style.css";

/* MIXINS */
.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}

.rotate (@deg) {
	-webkit-transform: rotate(@deg);
	-moz-transform: 	 rotate(@deg);
	-ms-transform: 		 rotate(@deg);
	-o-transform: 		 rotate(@deg);
}

.opacity (@opacity: 0.5) {
	-webkit-opacity: 	@opacity;
	-moz-opacity: 		@opacity;
	opacity: 		@opacity;
}

.transition(@duration:0.2s, @ease:ease-out) {
  -webkit-transition: all @duration @ease;
  -moz-transition: all @duration @ease;
  transition: all @duration @ease;
}


/* Site */
body {
  background: url('/images/zep.png') no-repeat right top;
  background-size: 70%;
  font-family: 'Vollkorn', 'Trebuchet MS', Arial, sans-serif;
  color: #181818;
}

header{
  h1{
    font-size: 2.875em;
    &:before{
      content: "{ ";
    }
    &:after{
      content: " }";
    }
    &:hover{
      span{
        color: rgb(208,203,191) * 1.1;
        em{
          color: black;
        }
      }
      &:after, &:before{
        color: rgb(208,203,191) * 0.5;
      }
    }
    span {
      color: rgb(208,203,191);
      position: relative;
      &:hover .image-wrapper{
        .opacity(1);
      }
      em {
        font-family: 'Vollkorn', 'Droid Serif', 'Myriad Pro', 'Georgia', sans-serif;
        color: black;
      }
    }
    .image-wrapper {
      position: absolute;
      top: 1px;
      left: 1px;
      .opacity(0);
      .border-radius(4px);
      border: 4px solid rgb(197,192,176);
      z-index: 2;
      .transition(0.4s);
      &:after{
        content: '';
        position: absolute;
        left: 45%;
        width: 18px;
        height: 18px;
        .rotate(45deg);
        background-color: rgb(197,192,176);
        z-index: -1;
      }
      &.baby{
        top: -200px;
        height: 188px;
        &:after{
          bottom: -11px;
        }
      }
      &.grown-up{
        top: 70px;
        left: 90px;
        height: 173px;
        &:after{
          top: -11px;
        }
      }
    }
  }
}

.profile {
  position: relative;
  top: 21em;
  left: 4em;
  width: 660px;
  ul, li{
    display: inline-block;
    padding: 0;
    margin: 10px 0px 0px 0px;
  }
  li{
    font-size: 30px;
    margin-right: 10px;
    &:last-child{
      margin-right: 0;
    }
  }
  ul:before {
    content: "[";
    font-size: 30px;
    color: white;
  }
  ul:after {
    content: "]";
    font-size: 30px;
    color: white;
  }
  ul:hover:before, ul:hover:after {
    color: black;
  }
  li:before, li:after {
    content: "\"";
    color: white;
  }
  li:hover{
    a{
      color: rgb(208,203,191) * 0.5;
    }
    &:before, &:after {
      color: red;
    }
  }
  a{
    text-decoration: none;
    color: black;
  }
  a:visited{
    text-decoration: none;
    color: black;
  }
}


footer {
  background: url('/images/clouds.png') repeat-x right top;
  background-position: 0 -63px;
  height: 75px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

/* Media queries */

@media screen and (min-width: 1100px) {
  body{
    background-size: 775px;
  }
}

@media screen and (max-width: 781px) {
  .profile {
    top: 20em;
    margin-bottom: 6em;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .profile span.name, .profile span.surname {
    display: block;
    margin-left: 30px;
  }
}

@media screen and (max-width: 720px), only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
  .profile {
    top: 13em;
    margin-bottom: 6em;
    width: 550px;
  }
  header h1{
    font-size: 4.5em;
  }
  .profile span.name, .profile span.surname {
    display: block;
    margin-left: 30px;
  }
  .profile ul{
    margin: 10px 0 120px 0;
  }
  .profile li {
    display: block;
    font-size: 4em;
  }
}

@media screen and (max-width : 640px) {
  .profile{
    width: 385px;
  }
  header h1{
    font-size: 3em;
  }
}

@media screen and (max-width : 460px) {
  .profile{
    width: 325px;
    left: 2em;
  }
  header h1{
    font-size: 2.5em;
  }
}

@media screen and (max-width : 380px) {
  .profile{
    width: 300px;
  }
  header h1{
    font-size: 2em;
  }
  header h1 {
    .image-wrapper.grown-up, .image-wrapper.baby {
      display: none
    }
  }
}

@media screen and (max-width : 470px) {
  .profile {
    top: 13em;
  }
}
